<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>网络基站 - 致终将万丈光芒的我们...</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
		<script src="js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="./js/popper.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<!-- 移动设备优先 -->
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<style type="text/css">
			/* 大屏文字框大小 */
			#con-1 {
				height: 500px;
			}
			/* 文字按钮 */
			#lastStar {
				margin-top: 150px;
			}

			/* 正文内容背景 */
			#con-2 {}

			/* hr-1 */
			#hr-1 {
				width: 80%;
			}
			/* 登录注册组件文字属性 */
			.loginFontSize{
				font-size: 20px;
				line-height: 30px;
				margin-left: ;
			}
			/* 动画图片 */
			#hero{
				position: absolute;
				width: 100px;
				left: 0 px;
			}
		</style>
		<script type="text/javascript">
			onload = function(){
				
				//动态图片
				setInterval(hero,2000);
			}
			
			//动态图片
			function hero(){
				var left = parseInt($("#hero").css("left"));
				//获取当前图片的left值
				
				if(left<=50){
					$("#hero").attr("src","img/webimg/hero_right.gif");
					$("#hero").animate({"left":"550px"},4800);
				}
				if(left>=500){
					$("#hero").attr("src","img/webimg/hero_left.gif");
					$("#hero").animate({"left":"0px"},4800);
				}
			}
		</script>
	</head>
	<body class="bg-light">
		<!-- 导航条 -->
		<div class="container-fluid pl-0 pr-0">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="index.html">网络基站</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">兼职</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
							 aria-haspopup="true" aria-expanded="false">
								论坛
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">圈子</a>
								<a class="dropdown-item" href="#">长安客栈</a>
								<div class="dropdown-divider"></div>
								<a href="" class="dropdown-item">合作入驻</a>
								<a class="dropdown-item" href="#">联系我们</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">晚星破晓，来日可期！</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- 正文 -->
		<div class="container" id="con-1" style="margin-bottom: 100px;">
			<!-- 前言文字 -->
			<div class="row" style="margin-top: 80px;">
				<!-- 左侧文字图片 -->
				<div class="col-7 pt-5">
					<h3>Hi！烟火闲趣</h3>
					<hr >
					<h4>祝你前程似锦，在冬深，在初春，在夏至，在秋末...</h4>
					<img src="img/webimg/hero_right.gif" id="hero" class="float float-right "  >
				</div>
				<!-- 右侧登录注册组件 -->
				<div class="card col-5" style="border-radius: 40px;">
					<div class="col-12">
						<div class="list-group list-group-horizontal text-center mb-5" id="list-tab" role="tablist">
							<a class="list-group-item list-group-item-action active col-6" style="border-radius: 0px 0px 0px 30px;" id="list-login-list" data-toggle="list" href="#list-login"
							 role="tab" aria-controls="login">已有帐号</a>
							<a class="list-group-item list-group-item-action col-6" style="border-radius: 0px 0px 30px 0px;" id="list-register-list" data-toggle="list" href="#list-register"
							 role="tab" aria-controls="register">没有账号</a>
						</div>
						<div class="tab-content pl-5 pb-5" id="nav-tabContent">
							<!-- 登录 -->
								<div class="tab-pane fade show active ml-4" id="list-login" role="tabpanel" aria-labelledby="list-login-list">
									<div>
										<form action="/do/login" method="get">
											<!-- 账号 -->
											<div class=" form-group form-row">
												<div class="col-3">
													<label for="inputUsername" class="loginFontSize">账号</label>
												</div>
												<div class="col-7">
													<input type="text" class="form-control float-right" style="display: inline-block;" id="inputUsername" name="userName">
												</div>
											</div>
											<!-- 密码 -->
											<div class=" form-group form-row">
												<div class="col-3">
													<label for="inputPassword" class="loginFontSize">密码</label>
												</div>
												<div class="col-7">
													<input type="text" class="form-control float-right" style="display: inline-block;" id="inputPassword" name="passWord">
												</div>
											</div>
										</form>
										<!-- 登录注册 -->
										<div class="col-12 mt-5">
										  <button type="button" class="btn btn-success col-4" >登录</button>
										  <button type="button" class="btn btn-primary col-4 ml-5">注册</button>
										</div>
									</div>
								</div>
								<!--没有账号 注册 -->
								<div class="tab-pane fade" id="list-register" role="tabpanel" aria-labelledby="list-register-list">
									<div class="tab-content ml-4" id="nav-tabContent">
												<form action="/do/register">
													<!-- 账号 -->
													<div class=" form-group form-row">
														<div class="col-3">
															<label for="inputUsername1" class="loginFontSize">账号</label>
														</div>
														<div class="col-7">
															<input type="text" class="form-control float-right" style="display: inline-block;" id="inputUsername1" name="userName">
														</div>
													</div>
													<!-- 密码 -->
													<div class=" form-group form-row">
														<div class="col-3">
															<label for="inputPassword1" class="loginFontSize">密码</label>
														</div>
														<div class="col-7">
															<input type="text" class="form-control float-right" style="display: inline-block;" id="inputPassword1" name="passWord">
														</div>
													</div>
													<!--nick-->
													<div class=" form-group form-row">
														<div class="col-3">
															<label for="inputPassword1" class="loginFontSize">nick</label>
														</div>
														<div class="col-7">
															<input type="text" class="form-control float-right" style="display: inline-block;" id="nick" name="nick">
														</div>
													</div>
													<!-- 性别 -->
													<div class="form-group form-row">
														<div class="col-3">
															<label for="inputxb" class="loginFontSize">性别</label>
														</div>
														<div class="col-7">
															<select id="inputxb" class="form-control" >
																<option selected name="gender" value="0">请选择</option>
																<option name="gender" value="1">女</option>
																<option name="gender" value="2">男</option>
															</select>
														</div>
													</div>
													<!--手机号 -->
													<div class="form-group form-row">
														<div class="col-3">
															<label for="inputCity" class="loginFontSize">手机</label>
														</div>
														<div class="col-7">
															<input type="text" class="form-control" id="inputCity" name="numberPhone">
														</div>
													</div>
													<!-- 邮箱 -->
													<div class="form-group form-row">
														<div class="col-3">
															<label for="inputEmial" class="loginFontSize">Email</label>
														</div>
														<div class="col-7">
															<input type="email" class="form-control" id="inputEmial" name="email">
														</div>
													</div>
													<div class="col-12 mt-5">
														<button type="button" class="btn btn-success col-4" >登录</button>
														<button type="submit" class="btn btn-primary col-4 ml-5">注册</button>
													</div>
												</form>
												<!-- 登录注册 -->

									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 页脚内容 -->
		<div class="container-fluid bg-dark text-light mt-5" style="margin-top: 30px;">
			<div class="container pt-5">
				<div class="row justify-content-around">
					<div class="col-2">
						<p>官网首页</p>
						<p>兼职首页</p>
					</div>
					<div class="col-2">
						<p>长安客栈</p>
						<p>兼职发布</p>
					</div>
					<div class="col-2">
						<p>用户中心</p>
						<p>投诉中心</p>
					</div>
					<div class="col-2">
						<p>商业合作</p>
						<p>推广宣传</p>
					</div>
					<div class="col-2">
						<div class="spinner-border text-light ml-4" role="status">
							<span class="sr-only">Loading...</span>
						</div>
						<p>假装二维码</p>
					</div>
				</div>
				<div class="row justify-content-center mt-5">
					<p>© YangDuYun 京ICP证xxxxxx号 京公网安备99999999999号</p>
				</div>
			</div>
		</div>
	</body>
</html>
