<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定接口文件-->
<mapper namespace="com.qnbbs.service.LoginService">

    <!--数据绑定-->
    <resultMap id="BaseResultMap" type="com.qnbbs.obj.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="passWord" jdbcType="VARCHAR" property="passWord" />
        <result column="nick" jdbcType="VARCHAR" property="nick"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="date" jdbcType="VARCHAR" property="date"/>
        <result column="numberPhone" jdbcType="VARCHAR" property="numberPhone"/>
        <result column="gender" jdbcType="VARCHAR" property="gender"/>
        <result column="imgUrl" jdbcType="VARCHAR" property="imgUrl" />
    </resultMap>
    <!--登录业务查询-->
    <select id="loginService" resultType="com.qnbbs.obj.User">
        select * from user where userName = #{userName} and passWord = #{passWord}
    </select>
    <!--注册业务提交-->
    <insert id="register">
        insert into user(
        userName,passWord,nick,email,numberPhone
        ) values
        (#{userName},#{passWord},#{nick},#{email},#{numberPhone});
    </insert>

</mapper>